@import url(css/font-awesome.min.css);
@import url(clearfix.css);

* {
  box-sizing: border-box;
}

.main {
  margin-left: 10px;
}

.test .list {
  float: left;
  margin: 5px;
  padding: 5px;
  border: 1px solid #000;
}

.test .list.bdHighlight {
  border: 1px solid #ff0000;
}

.test .list.bgHighlight {
  background: #ff4500;
}

.test ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.test ul li {
  margin-top: 5px;
}
